html {
    background-color:#dfdfdf;
   }
 body {
   font-family:  'Lucida Sans Unicode', sans-serif;
   font-size: 14px;
   background-color: #FFFFFF;
   border: #d3d3d3 1px solid;
   text-align: justify;
   margin: 10px auto;
   width: 900px;
   }
 h1 { 
   text-align: center;
   color: #5F8F11;
   letter-spacing: .2em;
   background-image: url(imagenes/fondoh1.jpg);
   background-position: top center;
   background-repeat: no-repeat;
   padding-top: 170px;
   margin: 0;
   }
 h1 span{
   color: #BF823B;
   }     
 h2 {
   color: #70AF0A;
   border-bottom: #CFDFB5 1px solid;
   }
 h3 { 
   color: #BF823B;
   margin-bottom:0; 
   margin-top:25px;
   }
 div.contenido {
   border: #d3d3d3 1px solid;
   margin: 20px 20px 10px 140px; 
   }
  
 #menu {
   float: left;
   width: 100px;
   margin: 20px;/**/
   padding: 0;/**/
   list-style-type: none;/**/
 }
 #menu li {
   border: #d3d3d3 1px solid;
   background: rgb(159,218,122);
   background: linear-gradient(0deg, rgba(159,218,122,0.9528186274509804) 37%, rgba(255,255,255,0.4009978991596639) 63%);
   font-size: 90%;
   text-align: center;
   line-height: 30px;
   background-repeat: repeat-x;
   background-position: bottom left;
 }
 #menu a { 
   display: block; 
   text-decoration: none; 
   color: #4F4F4F;
 }
 #menu li:hover {
   border-color: #9F9F9F;
   background-color: #E5CDB2;
 }
 #menu li:hover a {
   color: #000;
 }
 #menu li.activa, #menu li.activa:hover {
   border: #d3d3d3 1px solid; 
   background: rgb(252,205,181);
    background: linear-gradient(0deg, rgba(252,205,181,0.9528186274509804) 37%, rgba(255,255,255,0.4009978991596639) 63%);
 }
  #menu li.activa a, #menu li.activa:hover a{
     color: #000;
  }
 .texto {
     border-width: 1px;
     border-style: solid;
     border-color: #BF823B #EFD3B3 #EFD3B3 #BF823B;
 }
 
 .boton {
     border-width: 1px;
     border-style: solid;
     border-color: #EFD3B3 #BF823B #BF823B #EFD3B3;
 }
 .erroneo {
     color: #DF7E0D;	
 }